#basecamp #back {
  background:url("../images/basecamp/back.png");
  width: 800px;
  height: 800px;
  position: absolute;
  left: 0px; 
  top: 0px;
  z-index: 1;
}

#basecamp #back_down {
  background:url("../images/basecamp/back_down.png");
  width: 800px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 600px;
  z-index: 2; 
}


#basecamp #mold {
  background:url("../images/basecamp/mold.png");
  width: 800px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3; 
}

#basecamp #cityname_img {
  background:url("../images/basecamp/cityname.png");
  width: 300px;
  height: 160px;
  position: absolute;
  left: 25px;
  top: 75px;
  z-index: 3; 
}

#basecamp #battlezone_btn {
  background:url("../images/basecamp/battlezone.png");
  width: 271px;
  height: 65px;
  position: absolute;
  left: 514px; 
  top: 240px;
  z-index: 3;
}

#basecamp #cardshop_btn {
  background:url("../images/basecamp/shop.png");
  width: 271px;
  height: 65px;
  position: absolute;
  left: 514px; 
  top: 320px;
  z-index: 3;
}
#basecamp #makeroom_btn {
  background:url("../images/basecamp/makeroom.png");
  width: 271px;
  height: 65px;
  position: absolute;
  left: 514px; 
  top: 400px;
  z-index: 3;
}
#basecamp #map_btn {
  background:url("../images/basecamp/map.png");
  width: 271px;
  height: 65px;
  position: absolute;
  left: 514px; 
  top: 480px;
  z-index: 3;
}

#basecamp #charname_txt {
  height: 90px;
  position: absolute;
  left: 25px; 
  top: 685px;
  z-index: 4;
  color: black; 
  font: bold 20px/30px Georgia, serif;
  text-shadow:
   -1px -1px 0 #D2A541,  
    1px -1px 0 #D2A541,
    -1px 1px 0 #D2A541,
     1px 1px 0 #D2A541;
}


#basecamp #charname_word {
  height: 70px;
  position: absolute;
  left: 35px; 
  top: 730px;
  z-index: 4;
  color: black; 
  font: bold 60px/30px Georgia, serif;
  text-shadow:
   -1px -1px 0 #D2A541,  
    1px -1px 0 #D2A541,
    -1px 1px 0 #D2A541,
     1px 1px 0 #D2A541;
}

#basecamp #icon_img {
  background:url("../images/basecamp/icon.png");
  width: 40px;
  height: 40px;
  position: absolute;
  left: 280px; 
  top: 650px;
  z-index: 4;
}

#basecamp #userid_word {
  position: absolute;
  font-size: 40px;
  left: 330px; 
  top: 650px;
  z-index: 4;
  color: #D2A541;
  font: normal 25px/30px Georgia, serif;
}

#basecamp #lv_word {
  position: absolute;
  left: 310px; 
  top: 700px;
  z-index: 4;
  color: white;
  font-family:"Times New Roman",Georgia,Serif;
  font: normal 18px/30px Georgia, serif;

}

#basecamp #cost_word {
  position: absolute;
  left: 455px; 
  top: 700px;
  z-index: 4;
  color: white;
  font-family:"Times New Roman",Georgia,Serif;
  font: normal 18px/30px Georgia, serif;

}

#basecamp #gold_word {
  position: absolute;
  left: 310px; 
  top: 725px;
  z-index: 4;
  color: white;
  font-family:"Times New Roman",Georgia,Serif;
  font: normal 18px/30px Georgia, serif;

  z-index: 3;
}


#basecamp #deck_btn {
  background:url("../images/basecamp/deck.png");
  width: 46px;
  height: 46px;
  position: absolute;
  left: 640px; 
  top: 730px;
  z-index: 4;
}
#basecamp #config_btn {
  background:url("../images/basecamp/config.png");
  width: 46px;
  height: 46px;
  position: absolute;
  left: 690px; 
  top: 730px;
  z-index: 4;
}
#basecamp #inf_btn {
  background:url("../images/basecamp/inf.png");
  width: 46px;
  height: 46px;
  position: absolute;
  left: 740px; 
  top: 730px;
  z-index: 4;
}




