#loby #loby_background {
  background:url("../images/loby/battle_back.png");
  width: 800px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1; 
}
#loby #mold {
  width: 145px;
  height: 145px;
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 2;
}
#loby #character_image {
  background:url("../images/loby/character_image.png");
  width: 130px;
  height: 130px;
  position: absolute;
  left: 5px; 
  top: 5px;
  z-index: 2;
}
#loby #image_mold {
  background:url("../images/loby/image_mold.png");
  width: 145px;
  height: 145px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}
#loby #back_button {
  background:url("../images/loby/back.png");
  width: 80px;
  height: 80px;
  position: absolute;
  left: 715px; 
  top: 5px;
  z-index: 2;
}
#loby #back_button:active 
{ background: url("../images/loby/back_pressed.png"); 
}

#loby #makeroom_button {
  background:url("../images/loby/makeroom.png");
  width: 150px;
  height: 36px;
  position: absolute;
  left: 645px; 
  top: 115px;
  z-index: 2;
}
#loby #makeroom_button:active 
{ background: url("../images/loby/makeroom_pressed.png"); 
}
#loby #user_cost {
	width: 50px;
  	height: 30px;
  	position: absolute;
  	left: 38px; 
  	top: 25px;
  	transform:rotate(-45deg);
  	-ms-transform:rotate(-45deg); /* IE 9 */
 	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
 	  font:normal 13px/13px Georgia, serif;
    text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
  	z-index: 4;
  	color: white;	
}

#loby #id_tag {
  background:url("../images/loby/id_tag.png");
  width: 260px;
  height: 46px;
  position: absolute;
  left: 165px; 
  top: 10px;
  z-index: 2;
}
#loby #user_id {
  position: absolute;
  left: 260px;
  top: 16px;
  font-family:"Times New Roman",Georgia,Serif;
  font: normal 22px/30px Georgia, serif;
  z-index: 3;
}
#loby #gear_icon1 {
  background:url("../images/loby/gear_icon.png");
  width: 30px;
  height: 30px;
  position: absolute;
  left: 170px; 
  top: 55px;
  z-index: 2;
}
#loby #lv {
  position: absolute;
  left: 215px; 
  top: 60px;
  z-index: 2;
  font-family:"Times New Roman",Georgia,Serif;
  color: white;
}
#loby #gear_icon2 {
  background:url("../images/loby/gear_icon.png");
  width: 30px;
  height: 30px;
  position: absolute;
  left: 170px; 
  top: 85px;
  z-index: 2;
  color: white;
}
#loby #win {
  position: absolute;
  left: 215px; 
  top: 90px;
  z-index: 2;
  font-family:"Times New Roman",Georgia,Serif;
  color: white;
}
#loby #lose {
  position: absolute;
  left: 300px; 
  top: 90px;
  z-index: 2;
  font-family:"Times New Roman",Georgia,Serif;
  color: white;
}
#loby #gear_icon3 {
  background:url("../images/loby/gear_icon.png");
  width: 30px;
  height: 30px;
  position: absolute;
  left: 170px; 
  top: 115px;
  z-index: 2;
}
#loby #gold {
  position: absolute;
  left: 215px; 
  top: 120px;
  z-index: 2;
  font-family:"Times New Roman",Georgia,Serif;
  color: white;
}
#loby #room_list_back{
	background:url("../images/loby/list_back.png");
	width: 790px;
  height: 565px;
    left: 10px;
  top: 222px;
  position: absolute;
  z-index: 0;
}
#loby #room_list {
  width: 790px;
  height: 565px;
  position: absolute;
  left: 10px;
  top: 222px;
  color: gray;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}


