@-webkit-keyframes rotate {
 from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
 from {
     -moz-transform: rotate(0deg);
  }
  to {
     -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotateup {
 from {
     -moz-transform: rotate(0deg);
  }
  to {
     -moz-transform: rotate(360deg);
  }
}


#login #login_background {
  background:url("../images/login/back.png");
  width: 800px;
  height: 800px; 
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1; 
}
	#login #wheel_01{
		background:url("../images/wheels/02.png");
	  	width: 198px;
	  	height: 198px;
	  	position: absolute;	
	  	left: 105px; 
	  	top: 160px;
	  	z-index: 2;
	  	-webkit-animation: rotate 50s linear infinite 0s;
		-moz-animation: rotateup 50s linear infinite 0s;
	}
	#login #wheel_02{
		background:url("../images/wheels/08.png");
	  	width: 103px;
	  	height: 104px;
	  	position: absolute;	
	  	left: 305px; 
	  	top: 195px;
	  	z-index: 2;
	  	-webkit-animation: rotate 30s linear infinite 0s;
		-moz-animation: rotateup 30s linear infinite 0s;
	}
	#login #wheel_03{
		background:url("../images/wheels/11.png");
	  	width: 114px;
	  	height: 114px;
	  	position: absolute;	
	  	left: 125px; 
	  	top: 360px;
	  	z-index: 2;
	  	-webkit-animation: rotate 45s linear infinite 0s;
		-moz-animation: rotateup 45s linear infinite 0s;
	}
#login #input_id {
  position: absolute;
  width: 100px;
  height: 30px; 
  left: 400px;
  top: 325px;
  z-index: 2;
}

#login #input_pw {
  position: absolute;
  width: 100px;
  height: 30px; 
  left: 400px;
  top: 380px;
  z-index: 2;
}
#login #join_btn {
  background:url("../images/login/join.png");
  position: absolute;
  width: 150px;
  height: 36px; 
  left: 270px;
  top: 430px;
  z-index: 3;
}
#login #join_btn:active 
{ background: url("../images/login/join_pressed.png"); 
}
#login #login_btn {
  background:url("../images/login/login.png");
  position: absolute;
  width: 150px;
  height: 36px; 
  left: 430px;
  top: 430px;
  z-index: 3;
}
#login #login_btn:active 
{ background: url("../images/login/login_pressed.png"); 
}
